@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root {
  --background-color: #f6cc29;
  --button-color: black;
  --shadow-color: white;
  --button-width: 300px;
  --button-height: 50px;
  --animation-in-curve: cubic-bezier(0.45, 0, 0.61, 2.63);
  --animation-out-curve: ease-in-out;
  --animation-duration: 0.2s;
}

html, body, main {
  height: 100%;
  width: auto;
  text-align: center;
}

body {
  background: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button.skew {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
  font-family: 'Exo', sans-serif;
  color: white;
  text-transform: uppercase;
  width: var(--button-width);
  height: var(--button-height);
  line-height: var(--button-height);
  vertical-align: middle;
  position: relative;
  transition: line-height var(--animation-duration) var(--animation-out-curve),
    padding var(--animation-duration) var(--animation-out-curve);
  
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000,

  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000,

  -3px -3px 0 #000,
  3px -3px 0 #000,
  -3px 3px 0 #000,
  3px 3px 0 #000;
}

button.skew::after {
  content: '';
  display: block;
  background: var(--button-color);

  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  z-index: -1;
  top: -50%;
  transform: skewX(-45deg);
  transition: transform var(--animation-duration) var(--animation-out-curve);
}

button.skew::before {
  content: '';
  display: block;
  background: var(--shadow-color);
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  z-index: -2;
  top: 50%;
  margin-bottom: -50px;
  transform: skewX(-45deg);
  transition: transform var(--animation-duration) var(--animation-out-curve);
}

button.skew:hover {
  line-height: calc(var(--button-height) - 10px);
  padding-bottom: 10px;
  transition: line-height var(--animation-duration) var(--animation-in-curve),
    padding var(--animation-duration) var(--animation-in-curve);
}

button.skew:hover::after {
  transform: skewX(-45deg) translateX(-6px) translateY(-5px);
  transition: transform var(--animation-duration) var(--animation-in-curve);
}

button.skew:hover::before {
  transform: skewX(-45deg) translateX(6px) translateY(5px);
  transition: transform var(--animation-duration) var(--animation-in-curve);
}
p{
	font-family: 'Noto Sans', sans-serif;
}
h1{
	font-family: 'Righteous', cursive;
}
a{
	text-decoration: none;
	color: White;
}